<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<title>MyBB Themes</title>
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MyBB Themes</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://my-bb.ir">My-BB.Ir</a></li>
          </ul>
      <div class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" id="search">
        </div>
      </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
	<br><br><br>
	<div class="container">
		<table class="table table-bordered table-hover table-striped" id="content">
			<tr>
				<th style="width:200px">Name</th>
				<th style="width:50px">MyBB</th>
				<th style="width:50px">Dir</th>
				<th>URL</th>
				<th style="width:50px">Copy</th>
			</tr>
			{% assign sorted_themes = site.themes | sort:"name" %}
			{% for theme in sorted_themes %}
				<tr><td class="themename"><a href="{{ theme.link }}" target="_blank">{{ theme.name }}</a></td><td>{{ theme.mybb }}</td><td>{{ theme.dir }}</td><td class="themeurl">{{ theme.url }}</td><td><a href="javascript:void(0);" class="copy">Copy!</a></td></tr>
			{% endfor %}
		</table>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script>
		$("#search").bind("change keyup focus blur", function()
		{
			var search = $("#search").val().toLowerCase();
			$('.themename').each(function()
			{
				if($(this).text().toLowerCase().match(search)) {
					$(this).parent().show();
				}
				else
				{
					$(this).parent().hide();
				}
			});
		});
		
		$(".copy").click(function()
		{
			window.prompt("Copy to clipboard: Ctrl+C, Enter", $(this).parent().parent().find('.themeurl').text());
		});
	</script>
</body>
</html>