<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/style.css">
	<link rel="icon" type="image/png" href="favicon.png"/>
	<title data-en-content="MyBB Themes" data-fa-content="پوسته‌های مای بی‌بی">MyBB Themes</title>
</head>
<body>
	<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://themes.my-bb.ir" data-en-content="MyBB Themes" data-fa-content="پوسته‌های مای بی‌بی">MyBB Themes</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://github.com/MyBBIr/themes" target="_blank" data-en-content="Add Theme" data-fa-content="افزودن پوسته">Add Theme</a></li>
            <li><a href="howtouse-fa.html" data-en-content="How to Use?" data-fa-content="چگونگی استفاده؟">How to Use?</a></li>
          </ul>
      <ul class="nav navbar-nav navbar-right" data-en-class="navbar-right" data-fa-class="navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span data-en-content="EN" data-fa-content="فا">EN</span> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:setLang('en')">English</a></li>
            <li><a href="javascript:setLang('fa')">فارسی</a></li>
          </ul>
        </li>
      </ul>

      <div class="navbar-form navbar-right" role="search" data-en-class="navbar-right" data-fa-class="navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" id="search" data-en-pl="Search" data-fa-pl="جستجو">
        </div>
      </div>

        </div><!--/.nav-collapse -->
    </nav>
	</div>
	<div class="container">
		{{ content }}
		<footer>
			<span class="pull-right" data-en-class="pull-right" data-fa-class="pull-left">
				Hosted By: <a href="https://github.com" target="_blank">Github</a> - Enhanced by <a href="https://cloudflare.com" target="_blank">CloudFlare</a>
			</span>
			Copyright &copy; 2002-2014 <a href="http://my-bb.ir" target="_blank">My-BB.Ir</a>
		</footer>
	</div>
	<div id="copieds"></div>
	<script src="assets/main.js"></script>
</body>
</html>